@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--background: #f7fbfb;
	--foreground: #2f3a3f;
	--ui-border-color: transparent;
	--ui-border-width: 0px;
}

html {
	scroll-behavior: smooth;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #f7fbfb;
		--foreground: #2f3a3f;
	}
}

body {
	color: var(--foreground);
	background: var(--background);
	font-family: var(--font-matimo);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--font-matimo);
}

p {
	line-height: 1.4;
}

@layer base {
	p { line-height: 1.4; } 
 }

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}

@layer components {
	.ui-border {
		border: var(--ui-border-width) solid var(--ui-border-color);
	}

	.ui-border-t {
		border-top: var(--ui-border-width) solid var(--ui-border-color);
	}
}
