@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--background: #f7fbfb;
	--foreground: #2f3a3f;
}

html {
	scroll-behavior: smooth;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #f7fbfb;
		--foreground: #2f3a3f;
	}
}

body {
	color: var(--foreground);
	background: var(--background);
	font-family: var(--font-matimo);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--font-matimo);
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}
